extends layout

block content

  div(class='container')
    h2 菜单管理
    div(id='J_AddBtn' style='margin-bottom: 1rem')
    div(id='J_OrdersBtn' style='margin-bottom: 1rem')
    div(id='J_Sales')

  div(class='ui modal small add')
    i(class='close icon')
    div(class='header') 添加新菜色
    div(class='content')
        div(class='ui input fluid')
            input(id='J_ProductName' type='text' placeholder='菜品名')
    div(class='actions')
        div(class='ui positive right button') 确定

  div(class='ui modal small orders')
    i(class='close icon')
    div(class='header') 今日订单
    div(id='J_Orders' class='content') 加载中

  script(type='text/jsx' src='/javascripts/admin.js')

