doctype html
html
  head
    title=title
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0')
    link(rel='stylesheet', href='/bower_components/semantic-ui/dist/semantic.min.css')

    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/semantic-ui/dist/semantic.min.js')
    script(src='/bower_components/react/react.js')
    script(src='/bower_components/react/JSXTransformer.js')

  body
    block content

