body
{
    max-width: 640px;
    height: 100%;
    margin: 0 auto;
}

.container
{
    position: relative;

    box-sizing: border-box;
    height: 100%;
    padding: 1rem;
}

.login
{
    padding: .5rem;
}
